<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= products.name %>
			</h2> 
			<p class="product-detail-description">
				<a href="product-add">Crear producto</a>
			</p>
		</div>

		<div class="product-detail">
			<div class="row">
				
					<article class="col-12 col-lg-8 product-detail-info">
							 

						<img src="
							<%= products.image %>"
					
							 alt="" class="product-detail-img">	
						 
						<p class="product-detail-description">
							<%= products.descripcion %> 
							</p>
					</article>
				<div class="col-12 col-lg-4">	
					/<section class="comments">
                        
                            <article>
                                <img src="<%= products.user.image %> " alt="foto de perfil de <%= products.user.username %>">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/profile/<%= products.user.id %>"> <%= products.user.username %> </a> </strong>
                                    </p>
                                </div>
                            </article>
							<% if(comment[0]!= undefined) {%>
								<p id="titulo-comments"><strong>Comentarios:</strong></p>
							<% for(let i =0; i< comment.length; i++) { %>
								<article>
									<a href="/profile/<%= comment[i].id %>">	<img src="/images/users/<%= comment[i].image %>  " alt=""> </a>
									<div class="data">
										<p class="user">
										<strong> <a href="/profile/<%=products.comment[i].users_id%> "> <%= comment[i].username %>  </a> </strong>
										<%= products.comment[i].text %>
										</p>	
									</article>
										<% } %>	
            			                <% } else { %> 
											<p><strong>Se el primero en dejar un comentario!</strong></p>
										
						
							 <% }  %>
						</section>
						<form class="form" action="/product/comment-store" method="POST">
						<input class="form-input" name="comment" type="text" placeholder="Agregar comentario">
							<button class="buy-now-button" type="submit"> AGREGAR COMENTARIO </button>
						</form>



				<!--	<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>-->
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>