<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
<% if (locals.user) { %> 
		<%- include('./partials/headerLogueado', {info: locals.user}) %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>  
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= products.name %>
			</h2> 
			<p class="product-detail-description">
				<a href="product-add">Crear producto</a>
				<a href="/users/profile/<%= products.user.id %> ">/ Subido por
					<%= products.user.username %>
			</p>
					<form action="/product/delete/<%= products.id %> " method="post">
						<button class="borrar" type="submit"> Borrar producto </button>
						</form> 
						<a class="product-detail-description" href="/product/edit/<%= products.id %>" class="borrar"> Editar producto </a>			
						
		</div>

		<div class="product-detail">
			<div class="row">
				
					<article class="col-12 col-lg-8 product-detail-info">
							 

						<img src="/images/products/<%= products.image %>"
					
							 alt="Foto del producto" class="product-detail-img">	
						 
						<p class="product-detail-description">
							<%= products.descripcion %> 
							</p>
					</article>
				<div class="col-12 col-lg-4">	
					/<section class="comments">
                        <% for (let i = 0;  i < comment.length; i++) { %>
                            <article>
                                <img src="/images/users/<%= comment[i].user.image %> " alt="">
                                <div class="data">
                                    <p class="user">
                                    <strong> <a href="/users/profile/ <%=comment[i].user.id %> "> <%= comment[i].user.username%> </a> </strong>
                                    <%= comment[i].text %>
								</p>
								
                                </div>
                            </article>

                            <% }  %> 
						</section>
					<form class="form" action="/product/commentstore/<%= products.id %>" method="post">
						<input class="form-input" name="text" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>	



				<!--	<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>-->
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->

</body>	
</html>