<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>  
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/users/profileedit/<%= user.id %> " enctype="multipart/form-data" method="POST" class="form-edit">

				<input type="email" name="email" placeholder="email" class="form-input">

				<input type="username" name="username" placeholder="username" class="form-input">

				<input type="password" name="password" placeholder="password" class="form-input">

				<input type="nacimiento" name="nacimiento" placeholder="nacimiento" class="form-input">

				<input type="dni" name="dni" placeholder="dni" class="form-input">

				<input type="file" name="image" class="form-input">

				<button type="submit">Cambiar tus datos</button>
			</form>



	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>